<%- contentFor('title') %>
REACT APP

<%- contentFor('body') %>
<% console.log("here "+_locals); %>
<div id="root"><%= _locals.email %></div>
<button id="facebook-logout" class="">Log out</button>


<!-- include stylesheet here -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
<!-- include react bundle file here -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1452783914788190',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script>
  $("#facebook-logout").on("click", function(event){
    event.preventDefault();
    FB.logout();
  });
</script>
