<%- contentFor('title') %>
REACT APP

<%- contentFor('body') %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">TODO LIST</div>
      <div class="navbar-text"><%= _locals.email %></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="facebook-logout" href="/login">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="root"></div>

<!-- include stylesheet here -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
<!-- include react bundle file here -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1452783914788190',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script>
  $("#facebook-logout").on("click", function(event){
    event.preventDefault();
    FB.getLoginStatus(function(response){
      if(response.status==="conected"){
        FB.logout();
      }
    });
    $.ajax({
      type: "GET",
      url: "/logout",
      xhrFields: {
        withCredentials: true
      },
      success: function(data, textStatus){
        console.log(data.redirect);
        if(data.redirect){
          window.location.href = data.redirect;
        }
      }
    });
  });
</script>
